<!--dash.component.html-->
<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <!--Mini Cards-->
    <mat-grid-tile *ngFor="let i of [1]" [colspan]="( cardLayout | async )?.miniCard?.cols"
      [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <app-card title="Card {{i}}">
        <app-mini-card></app-mini-card>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let i of [2]" [colspan]="( cardLayout | async )?.miniCard?.cols"
    [rowspan]="( cardLayout | async )?.miniCard?.rows">
    <app-card title="Card {{i}}">
      <app-mini-card-twelve></app-mini-card-twelve>
    </app-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let i of [3]" [colspan]="( cardLayout | async )?.miniCard?.cols"
  [rowspan]="( cardLayout | async )?.miniCard?.rows">
  <app-card title="Card {{i}}">
    <app-mini-card-lc></app-mini-card-lc>
  </app-card>
</mat-grid-tile>
<mat-grid-tile *ngFor="let i of [4]" [colspan]="( cardLayout | async )?.miniCard?.cols"
[rowspan]="( cardLayout | async )?.miniCard?.rows">
<app-card title="Card {{i}}">
  <app-mini-card-calls></app-mini-card-calls>
</app-card>
</mat-grid-tile>
    <!--High Prio Loads Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table?.cols" [rowspan]="( cardLayout | async )?.table?.rows">
      <app-card title="High Prio Loads">
        <app-highprioloads-table></app-highprioloads-table>
      </app-card>
    </mat-grid-tile>
    <!--High Prio Customers Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table?.cols" [rowspan]="( cardLayout | async )?.table?.rows">
      <app-card title="High Prio Customers">
        <app-customers-table></app-customers-table>
      </app-card>
    </mat-grid-tile>
    <!--Check Calls Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table?.cols" [rowspan]="( cardLayout | async )?.table?.rows">
      <app-card title="Check Calls Needed">
        <app-checkcalls-table></app-checkcalls-table>
      </app-card>
    </mat-grid-tile>
    <!--High Prio Prospects Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table?.cols" [rowspan]="( cardLayout | async )?.table?.rows">
      <app-card title="High Prio Prospects">
        <app-prospects-table></app-prospects-table>
      </app-card>
    </mat-grid-tile>
    <!--BigTable-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.bigTable?.cols" [rowspan]="( cardLayout | async )?.bigTable?.rows">
      <app-card title="Accounting Load Board Snapshot">
        <app-accounting-table></app-accounting-table>
            </app-card>
    </mat-grid-tile>
  </mat-grid-list>
 </div>