

    <div>
        <a routerLink = "/customer/create">Create</a>
        | <input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
    </div>
  <div>
      <table class="table table=hover table-sm">
          <thead>
              <tr>
                  <th><button (click)="sortFn('id')" class = "btn btn-link">Id</button></th>
                  <th><button (click)="sortFn('name')" class = "btn btn-link">Name</button></th>
                  <th>Address</th>
                  <th><button (click)="sortFn('city')" class = "btn btn-link">City</button></th>
                  <th><button (click)="sortFn('state')" class = "btn btn-link">State</button></th>
                  <th>Zip</th>
                  <th>Status</th>
                  <th>User</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let c of customers | searchCustomer:searchCriteria |sort:sortColumn:sortAsc">
                  <td>{{c.id}}</td>
                  <td>{{c.name}}</td>
                  <td>{{c.address}}</td>
                  <td>{{c.city}}</td>
                  <td>{{c.state}}</td>
                  <td>{{c.zip}}</td>
                  <td>{{c.status ? "Active":"Inactive"}}</td>
                  <td>{{c.user?.username}}</td>
                  <td>
                    <span>
                        <a routerLink = "/customer/detail/{{c.id}}">Detail</a>
                    </span>
                    <span> | </span>
                    <span>
                        <a routerLink = "/customer/edit/{{c.id}}">Edit</a>
                    </span>
              </tr>
          </tbody>
      </table>
  </div>  

