nav {
    background-color: rgb(200, 229, 255);
    width: 100%;
    display: inline-block;
    text-align: end;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
    padding: 0 10px;
    margin: 10px;
    color:#2e2d2d;
}
a {
    text-decoration: none;
    color:black;
}
a:hover {
    color:rgb(49, 85, 201)
}