<div>
    <table>
        <tr>
            <td>Id</td>
            <td><input [(ngModel)]="carrier.id" type="number" disabled></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input [(ngModel)]="carrier.name" type="string" disabled></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input [(ngModel)]="carrier.address" type="string" disabled></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input [(ngModel)]="carrier.phone" type="string" disabled></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input [(ngModel)]="carrier.email" type="string" disabled></td>
        </tr>
    </table>
</div>