<h1>Load Manager - Bootcamp Edition</h1>
<table>
    <thead>
        <tr>
            <th>Student</th>
            <th>Student Looking Spiffy</th>
            <th>Home Location</th>
            <th>Chosen Superpower</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.firstname}} {{student.lastname}}</td>
            <td><img [src]="student.photo"></td>
            <td>{{student.city}}, {{student.state}} {{student.zip}}</td>
            <td>{{student.power}}</td>
        </tr>
    </tbody>
</table>