<h3>Users</h3>
<div id = "component">
    <div>
        <a routerLink = "/user/create">Create</a> 
    </div>
    
        
    
<div>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th><button  class = "btn btn-link">Id</button></th>
                <th><button  class = "btn btn-link">Username</button></th>
                <th><button  class = "btn btn-link">Firstname</button></th>
                <th><button  class = "btn btn-link">Lastname</button></th>
                <th><button  class = "btn btn-link">Phone</button></th>
                <th><button  class = "btn btn-link">Email</button></th>
                <th><button  class = "btn btn-link">IsReviewer</button></th>
                <th><button  class = "btn btn-link">IsAdmin</button></th>
                <th><button class="btn btn-link">Actions</button></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let u of users">
                <td>{{u.id}}</td>
                <td>{{u.username}}</td>
                <td>{{u.firstname}}</td>
                <td>{{u.lastname}}</td>
                <td>{{u.phone}}</td>
                <td>{{u.email}}</td>
                <td>{{u.isReviewer ? "YES":"NO"}}</td>
                <td>{{u.isAdmin ? "YES":"NO"}}</td>
                <td>
                    <span>
                        <a routerLink = "/user/detail/{{u.id}}">Detail</a>
                    </span>
                    <span> | </span>
                    <span>
                        <a routerLink = "/user/edit/{{u.id}}">Edit</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>