<div>
    <table *ngIf="driver">
        <tr>
            <td>Id</td>
            <td><input [(ngModel)]="driver.id" type="number" disabled></td>
        </tr>
        <tr>
            <td>Firstname</td>
            <td><input [(ngModel)]="driver.firstname" type="text"></td>
        </tr>
        <tr>
            <td>Lastname</td>
            <td><input [(ngModel)]="driver.lastname" type="text"></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input [(ngModel)]="driver.phone" type="text"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input [(ngModel)]="driver.email" type="text"></td>
        </tr>
        <tr>
            <td>Truck Number</td>
            <td><input [(ngModel)]="driver.truckNumber" type="text"></td>
        </tr>
        <tr>
            <td>TrailerNumber</td>
            <td><input [(ngModel)]="driver.trailerNumber" type="text"></td>
        </tr>
        <tr>
            <td>Equipment</td>
            <td><input [(ngModel)]="driver.equipment" type="text"></td>
        </tr>
        <tr>
            <td>Approved for Comchecks</td>
            <td><input [(ngModel)]="driver.isCckApproved" type="checkbox"></td>
        </tr>
    </table>
    <span>
        <button (click)='save()' class="btn btn-primary">Save</button>
    </span>
</div>