<div>
    <table>
        <tr>
            <td>TQL PO Number</td>
            <td><input [(ngModel)]="load.poNumber" type="number" disabled></td>
        </tr>
        <tr>
            <td>Pay Truck</td>
            <td><input [(ngModel)]="load.payTruckRate" type="number"></td>
        </tr>
        <tr>
            <td>Customer Bill Rate</td>
            <td><input [(ngModel)]="load.customerBillRate" type="number"></td>
        </tr>
        <tr>
            <td>Customer</td>
            <td><input [(ngModel)]="load.customerId" type="text"></td>
        </tr>
        <tr>
            <td>Carrier</td>
            <td><input [(ngModel)]="load.carrierId" type="text"></td>
        </tr>
        <tr>
            <td>Pick Location</td>
            <td><input [(ngModel)]="load.pickId" type="text"></td>
        </tr>
        <tr>
            <td>Drop Location</td>
            <td><input [(ngModel)]="load.dropId" type="text"></td>
        </tr>
    </table>
    <button>Exit</button>
</div>